input {
    height: 32px;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #bbb;
}

.table-options {
    display: flex;
    input {
        margin-left: 16px;
    }
}