<ng-container *ngIf="session.initialized; else loading">
    <div class="nav">
        <div class="brand">Githubusers demo</div>
        <div class="menu">
            <span [routerLink]="['/users']">Users</span>
            <span *ngIf="session.loggedInUser" [routerLink]="['/my-issues']">My Issues</span>
        </div>
        <div class="user">
            <ng-container *ngIf="session.loggedInUser; else anonymous">
                <span class="profile" [routerLink]="['/users', session.loggedInUser.username]">{{ session.loggedInUser.username }}</span>
                <span class="login" (click)="session.logout()">Logout</span>
            </ng-container>
            <ng-template #anonymous>
                Anonymous user
                <span class="login" (click)="session.triggerLogin()">Login</span>
            </ng-template>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</ng-container>
<ng-template #loading>
    <div class="loading">Waiting for GitHub ..</div>
</ng-template>